[submodule "lede"]
	path = lede
	url = https://github.com/coolsnowwolf/lede.git
[submodule "luci-app-alist"]
	path = package/luci-app-alist
	url = https://github.com/sbwml/luci-app-alist.git
[submodule "openwrt"]
	path = openwrt
	url = https://github.com/openwrt/openwrt.git
[submodule "package/tencentcloud-openwrt-plugin-ddns"]
	path = package/tencentcloud-openwrt-plugin-ddns
	url = https://github.com/Tencent-Cloud-Plugins/tencentcloud-openwrt-plugin-ddns.git
