[submodule "package/luci-app-aliddns"]
	path = package/luci-app-aliddns
	url = https://github.com/honwen/luci-app-aliddns.git
[submodule "openwrt-22.03"]
	path = openwrt-22.03
	url = https://github.com/openwrt/openwrt
[submodule "openwrt-23.05"]
	path = openwrt-23.05
	url = https://github.com/openwrt/openwrt
